{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    {% if User_list %}
    <table class="table">
        <thead class="table-info">
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">생일</th>
                <th scope="col">성별</th>
                <th scope="col">등급</th>
                <th scope="col"></th>
            </tr>
        </thead>
        {% for User in User_list %}
        <tbody>
            <tr>
                <td>{{ User.id }}</td>
                <td><a href="{% url 'home:detail' User.id %}">{{ User.username }}</a></td>
                <td>{{ User.birth_date }}</a></td>
                <td>{{ User.sex }}</td>
                <td>{{ User.level }}</td>
                <td>
                    {% if user.is_authenticated %}
                    <div class="position-end">
                        <a class="btn btn-outline-info btn-sm float-end me-3" href="{% url 'home:user_modify' User.id %}"
                           style="text-decoration:none;color:blue;font-size:small">수정</a>
                        <a class="btn btn-outline-danger btn-sm float-end mx-2" href="{% url 'home:user_delete' User.id %}"
                           style="text-decoration:none;color:red;font-size:small">삭제</a>
                    </div>
                    {% endif %}
                    <div class="position-end">

                    </div>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% else %}
        <p>유저가 없습니다.</p>
    {% endif %}

<form action="{% url 'home:user_create' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">이름</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="phone_num">전화번호</label>
        <input type="text" class="form-control" name="phone_num" id="phone_num" placeholder="Enter phone num">
    </div>
    <div class="form-group">
        <label for="birth_date">생일</label>
        <input type="date" class="form-control" name="birth_date" id="birth_date">
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="sex" id="sex" value="M">
        <label class="form-check-label" for="Man">
            남자
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="sex" id="sex" value="W">
        <label class="form-check-label" for="Woman">
            여자
        </label>
    </div>
    <button type="submit" class="btn btn-info mb-2">유저등록</button>
</form>



<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>

{% endblock %}